@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: rgb(163, 163, 163); */
  /* background-color: rgba(0, 0, 0, 0.815); */
  font-family: "Nerko One", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .heartIcon {
  color: black;
} */

.heartIcon:hover {
  color: red;
}

.brokenheart-icon {
  color: white;
}

.brokenheart-icon:hover {
  color: red;
}

.info-icon:hover {
  color: springgreen;
}

.info-icon {
  color: #2196f3;
}

/* .bong-icon {
  color: springgreen;
} */

.avatar {
  color: #eee;
}

.avatar:hover {
  color: springgreen;
}

.bong-icon:hover {
  color: #2196f3;
}

.bong-icon {
  color: slategrey;
}

.home-icon:hover {
  color: #ffa726;
}

.card-title:hover {
  color: springgreen;
}

a {
  color: springgreen;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.doodoo:hover {
  color: springgreen;
}
/* 2196f3 */
